.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
    max-width: 98%;
    max-height: 56px;
    &__left{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &>img{
            height: 40px;
        }
        &-input{
            display: flex;
            align-items: center;
            background-color: #eff2f5;
            padding: 10px;
            margin-left: 10px;
            border-radius: 33px;
            &>input{
                border: none;
                background-color: transparent;
                outline-width: 0;
            }
        }
    }
    &__center{
        display: flex;
        justify-content: center;
        // overflow: hidden;
        &-option{
            color: gray;
            display: flex;
            padding:0 30px;
            cursor: pointer;
            display: flex;
            align-items: center;
            &:hover{
                color: #2e81f4;
                border-radius: 10px;
                background-color: #eff2f5;
                align-items: center;
                padding: 0 30px;
                border-bottom: none;
            }
        }
    }
    &__right{
        display: flex;
        &-info{
            display: flex;
            align-items: center;
            &>h4{
                margin-left: 10px;
            }
        }
    }
}

.active{
    &>.MuiSvgIcon-root{
        color: #2e81f4;
    }
    border-bottom: 4px solid #2e81f4;
}

@media (max-width: 1090px) {
    .header{
        &__right{
            &-info{
                display: none;
            }
        }
    }
}